<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="5; url='info.html'"> -->
    <title>Info</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #121212;
            color: white;
        }
        .innerFrame {
            background-color: #333333;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.5);
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 innerFrame">
                <!-- <h3>Bird Identification</h3> -->
                <div id="bird-info-container"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function fetchBirdInfo() {
            $.ajax({
                url: '/bird_info',
                method: 'GET',
                success: function(data) {
                    let birdInfoContainer = $('#bird-info-container');
                    birdInfoContainer.empty();
                    if (data.length > 0) {
                        data.forEach(bird => {
                            birdInfoContainer.append('<p>' + (bird.bird_id || 'N/A') + ': ' + (bird.bird_score ? (bird.bird_score * 100).toFixed(2) + '%' : 'N/A') + '</p>');
                            // birdInfoContainer.append('<p>Likelihood: ' + (bird.bird_score ? (bird.bird_score * 100).toFixed(2) + '%' : 'N/A') + '</p>');
                        });
                    } else {
                        birdInfoContainer.append('<p>No birds detected.</p>');
                    }
                },
                error: function() {
                    $('#bird-info-container').html('<p>Bird Type: Error</p><p>Likelihood: Error</p>');
                }
            });
        }

        setInterval(fetchBirdInfo, 500);

        fetchBirdInfo();
    </script>
</body>
</html>
